.banner {
    color: $white;

    &__content {
        display: grid;
        grid-template-columns: 390px 370px 209px;
        align-items: center;
        justify-content: space-between;
        padding: 40px 50px;
        border-radius: 16px;
        background: $blue-gradient;
    }

    &__subtitle {
        line-height: 1.5em;
        @include adaptiv-font(16, 14);
    }

    .btn {
        width: 100%;
    }

    .title-section {
        @include adaptiv-font(30, 18);
    }
}