.basic-properties {
    &__block-head {}

    &__block-content {}

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 9px;
        margin-top: 20px;
    }

    &__li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid $very-light-blue;
        border-radius: 8px;
        padding: 12px 16px;
    }

    &__name-property {
        font-size: 14px;
        color: $light-text;
    }

    &__value-property {
        margin-top: 8px;
        @include adaptiv-font(22, 20);
        font-weight: 600;
    }
}