.card-section {

    &--property {
        .card-section {
            &__block-head {
                flex-direction: column;
                align-items: flex-start;
            }

            &__block-sorting {
                display: flex;
                align-items: center;
                margin-top: 27px;
            }

            &__wrapper-content {
                display: grid;
                grid-template-columns: 1fr 330px;
                grid-column-gap: 28px;
            }

            &__wrapper-cards {
                grid-template-columns: repeat(3, minmax(100px, 1fr));
            }

            &__block-nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                grid-column: 1/-1;
                margin-top: 50px;
            }
        }

        .sorting {
            margin-left: 46px;
        }

        .search-bar {

        }

        .text-block {
            margin-top: 80px;

            .main-container {
                padding: 0;
            }
        }
    }

    &--property-map {
        .card-section {
            &__block-head {
                flex-direction: column;
                align-items: flex-start;
            }

            &__block-sorting {
                display: flex;
                align-items: center;
                margin-top: 27px;
            }

            &__wrapper-content {
                display: grid;
                grid-template-columns: 1fr 644px;
                grid-template-rows: 881px;
                grid-column-gap: 19px;
            }

            &__inner-cards {
                display: flex;
                flex-direction: column;
                padding-right: 34px;
            }

            &__wrapper-cards {
                height: 100%;

                .scroll-content {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(100px, 1fr));
                    grid-column-gap: 20px;
                    grid-row-gap: 20px;
                    align-self: start;
                    padding-right: 16px;
                }

                .scrollbar-track-x {
                    display: none !important;
                }
            }

            &__block-nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: auto;
                padding-top: 40px;
            }

            &__block-map {
                border-radius: 10px;
                overflow: hidden;
            }

            &__map-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            &__btn-show-cards {
                display: none;
            }

            &__btn-show-cards,
            &__show-cards-text,
            &__show-cards-icon {
                position: relative;
            }

            &__show-cards-decor,
            &__btn-show-cards,
            &__btn-show-cards::before {
                border-radius: 50px 50px 0 0;
            }
        
            &__btn-show-cards {
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background: $blue-gradient;
                border: none;
                cursor: pointer;
                color: $white;
        
                &:hover::before {
                    opacity: 1;
                }
        
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    background: #2F80ED;
                    transition: opacity 0.4s;
                }
            }
        
            &__show-cards-text {
                font-size: 18px;
                font-weight: 600;
            }
        
            &__show-cards-icon {
                width: 15px;
                height: 15px;
                margin-left: 6px;
                transition: transform $transition-time;
        
                use {
                    fill: $white;
                }
            }

            &__show-cards-decor {
                position: absolute;
                z-index: 1;
                top: -1px;
                left: -1px;
                right: -1px;
                bottom: -1px;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                background-color: $white;
                transition: 
                    background-color $transition-time,
                    opacity $transition-time,
                    visibility $transition-time;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 62px;
                    height: 4px;
                    background-color: $light-blue;
                    border-radius: 10px;
                }
            }
        }

        .sorting {
            margin-left: 46px;
        }

        .search-bar {

        }

        .product-card {
            &__block-images {
                height: 190px;
            }

            &__address {
                margin-top: 12px;
            }

            &__block-content {
                padding: 12px 14px;
            }

            &__wrapper-btns {
                padding: 8px 14px 14px 14px;

                .btn,
                .compare-btn {
                    min-height: 38px;
                }

                .btn-icon {
                    width: 38px;
                    height: 38px;

                    &__icon {
                        width: 17px;
                        height: 17px;
                    }
                }
            }

            &__block-links,
            &__wrapper-employee {
                margin-top: 18px;
            }
        }

        .pagination {
            &__list {
                margin: 0;
            }
        }
    }

    &__block-head {
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__block-head-titles,
    &__block-head-btns {
        display: flex;
        align-items: center;
    }

    &__block-head-titles {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 30px;

        .title-section {
            cursor: pointer;
            opacity: 0.2;
            transition: opacity $transition-time;

            &:not(.active):hover {
                opacity: 0.4;
            }

            &.active {
                opacity: 1;
                cursor: default;
            }
        }
    }

    &__block-head-btns {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 6px;
        grid-auto-flow: column;
        grid-auto-columns: auto;
        grid-template-rows: 43px;
        justify-content: end;

        .btn,
        .btn-icon,
        .share {
            height: 100%;
        }

        .btn-icon {
            width: 43px;
        }
    }

    &__subtitle {
        margin-top: 20px;
        @include adaptiv-font(18, 16);
    }
    
    &__block-links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn {
            display: none;
            width: 48px;
            height: 48px;

            &__icon {
                width: 28px;
                height: 28px;
                margin-right: 0;

                use {
                    fill: $navy-blue;
                }
            }
        }
    }

    &__wrapper-cards {
        display: grid;
        grid-template-columns: repeat(4, minmax(162px, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    &__blackout {
        position: fixed;
        display: block;
        width: 100%;
        top: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 90;
        border: none;
        opacity: 0;
        background-color: #000;
        transition: opacity $transition-time;

        &.active {
            pointer-events: auto;
            opacity: .6;
        }
    }

    &__block-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;

        .btn {
            &:not(:first-child) {
                margin-left: 16px;
            }

            &__icon use {
                fill: $navy-blue;
            }
        }
    }

    .product-card,
    .developer-card {
        width: 100%;
    }

    .text-block {
        display: grid;
        grid-template-columns: 1fr 330px;
        grid-column-gap: 28px;
    }
}