.contact-info {

    &__list {
        margin-top: 17px;
    }

    &__li {
        display: flex;
        align-items: center;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
    }

    &__link {
        font-weight: 500;
        color: $white;
        margin-left: 12px;
    }
}