.objects {

    &__block-head {}

    &__block-content {
        margin-top: 28px;
    }

    &__block-cards {
        display: grid;
        grid-template-columns: repeat(4, minmax(10px, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    &__block-btn {
        display: grid;
        justify-content: center;
        margin: 40px auto 0 auto;

        .btn {
            width: 206px;
        }
    }

    &__block-navigation {
        display: grid;
        grid-auto-columns: auto;
        grid-auto-flow: column;
        justify-content: start;
        grid-column-gap: 6px;
        margin-top: 36px;

        .select {
            &__btn-text {
                @include adaptiv-font(16, 14);
            }
        }

        .btn {
            &--theme--very-light-blue {
                &:hover {
                    .btn {
                        &__icon {
                            fill: $navy-blue;
                        }

                        &__text {
                            color: $navy-blue;
                        }
                    }
                }
            }

            &__text {
                @include adaptiv-font(16, 14);
            }
        }
    }

    .product-card {
        width: 100%;
    }
}