.product-card {
    position: relative;
    width: 328px;
    border: 1px solid $light-blue;
    background-color: $white;
    border-radius: 8px;
    transition: border-radius $transition-time;

    &:hover {
        border-radius: 8px 8px 0 0;
    }

    &:hover &__wrapper-btns {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    &:hover .swiper-pagination,
    &:hover .arrow {
        opacity: 1;
    }

    &:hover .arrow[data-product-card=prev-btn],
    &:hover .arrow[data-product-card=next-btn] {
        transform: translate(0, -50%);
    }

    &:hover .swiper-pagination {
        transform: translateY(0);
    }

    &__block-images {
        position: relative;
        height: 218px;
        border-radius: 8px 8px 0 0;
    }

    &__slider {
        overflow: hidden;
        border-radius: 8px 8px 0 0;
    }

    &__slider,
    &__block-image {
        height: 100%;
    }

    &__block-image {}

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8px 8px 0 0;
    }

    &__wrapper-label-quantity {
        position: absolute;
        bottom: 16px;
        left: 16px;
        right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__block-label-quantity {
        display: flex;
        align-items: center;
    }

    &__label-quantity {
        display: flex;
        align-items: center;

        &:not(:first-child) {
            margin-left: 12px;
        }
    }

    &__label-quantity-icon {
        width: 20px;
        height: 20px;
    }

    &__label-quantity-count {
        margin-left: 4px;
        font-weight: 600;
        color: $white;
    }

    &__block-content {
        padding: 14px 16px 16px 16px;
    }

    &__block-info {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__price {
        @include adaptiv-font(22, 14);
        font-weight: 600;
    }
    
    &__address {
        @include adaptiv-font(16, 10);
        width: 100%;
        font-weight: 500;
        margin-top: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__block-links {
        margin-top: 22px;
    }

    &__list-links {}

    &__li-link {
        &:not(:first-child) {
            margin-top: 2px;
        }
    }

    &__links-link {
        @include adaptiv-font(14, 12);
        color: $navy-blue;
        transition: opacity $transition-time;

        &:hover {
            opacity: 0.6;
        }
    }

    &__wrapper-employee {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 20px;

        .btn {
            width: max-content;
            min-height: max-content;
            padding: 4px 6px;
            border-radius: 6px;

            &__text {
                font-size: 14px;
            }
        }
    }

    &__block-employee {
        display: flex;
        align-items: center;
    }

    &__block-employee-avatar {
        position: relative;
        width: 46px;
        height: 46px;

        &--verified {
            &::before {
                content: '';
                position: absolute;
                bottom: -3px;
                right: -5px;
                z-index: 5;
                width: 20px;
                height: 20px;
                background-image: url('../images/green-shield.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &__employee-avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 100px;
    }

    &__block-info-employee {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
    }

    &__employee-name {
        @include adaptiv-font(16, 12);
        font-weight: 500;
    }

    &__employee-post {
        @include adaptiv-font(14, 10);
        margin-top: 3px;
    }

    &__wrapper-btns {
        position: absolute;
        z-index: 5;
        top: 100%;
        left: -1px;
        right: -1px;
        padding: 8px 16px 16px 16px;
        border-left: 1px solid $light-blue;
        border-right: 1px solid $light-blue;
        border-bottom: 1px solid $light-blue;
        background-color: $white;
        border-radius: 0 0 8px 8px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity $transition-time, visibility $transition-time;
    }

    &__block-btns {
        display: flex;
        justify-content: space-between;

        &:first-child {
            .btn {
                width: 100%;

                &:not(:first-child) {
                    margin-left: 7px;
                }
            }
        }
    }

    &__trashcan {
        position: absolute;
        top: calc(100% + 14px);
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: opacity $transition-time;

        &:hover {
            opacity: 0.6;
        }
    }

    &__trashcan-icon {
        width: 22px;
        height: 22px;

        use {
            fill: $navy-blue;
        }
    }

    &__trashcan-text {
        margin-left: 6px;
        font-weight: 600;
        color: $navy-blue;
    }

    &--type--apartment {
        .product-card {
            &__block-btns {
                display: flex;
                justify-content: space-between;
        
                &:not(:first-child) {
                    margin-top: 8px;
        
                    .btn-icon,
                    .share {
                        margin-left: 7px;
                    }
        
                    .share {
                        .btn-icon {
                            margin-left: 0;
                        }
                    }
                }
        
                .compare-btn {
                    width: 100%;
                }
        
                .btn-icon {
                    flex-shrink: 0;
                }
            }
        }
    }

    &--type--residential-complex {
        .product-card {
            &__address {
                @include adaptiv-font(22, 14);
                font-weight: 600;
                margin-top: 0;
            }

            &__price {
                margin-top: 10px;
                @include adaptiv-font(16, 10);
            }

            &__block-links {
                margin-top: 12px;
            }

            &__list-links {
                display: flex;
                align-items: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__li-link {
                &:not(:last-child):after {
                    content: ',';
                    margin-right: 3px;
                    margin-left: -3px;
                    color: $navy-blue;
                }
            }

            &__block-info-residential-complex {
                display: flex;
                align-items: center;
                margin-top: 10px;
            }

            &__date-info,
            &__material-info {
                @include adaptiv-font(14, 10);
                white-space: nowrap;
            }

            &__date-info {
                padding-right: 10px;
            }

            &__material-info {
                position: relative;
                padding-left: 10px;
                overflow: hidden;
                text-overflow: ellipsis;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%, -50%);
                    border-radius: 100px;
                    border: 1px solid $black-text;
                }
            }

            &__block-btns {
                display: flex;
                justify-content: space-between;
        
                &:not(:first-child) {
                    margin-top: 8px;
        
                    .share {
                        width: 100%;
                        margin-left: 7px;

                        .btn-icon {
                            margin-left: 0;
                        }
                    }
                }
        
                .btn-icon {
                    flex-shrink: 1;
                    width: 100%;
                }
            }
        }
    }

    .btn-icon {
        width: 44px;
        height: 44px;
    }

    .favorites-icon,
    .status-labels,
    &__wrapper-label-quantity {
        z-index: 1;
    }

    .status-labels,
    .favorites-icon {
        position: absolute;
        top: 16px;
    }

    .status-labels {
        left: 16px;
        width: 75%;

        &__li {
            &:last-child {
                display: none;
            }
        }
    }

    .favorites-icon {
        right: 16px;
    }

    .arrow {
        position: absolute;
        top: 50%;
        border-radius: 6px;
        opacity: 0;
        transition: opacity $transition-time, transform $transition-time;

        &[data-product-card=prev-btn] {
            left: 16px;
            transform: translate(-10px, -50%);
        }

        &[data-product-card=next-btn] {
            right: 16px;
            transform: translate(10px, -50%);
        }

        &__icon {
            width: 18px;
            height: 18px;

            use {
                stroke-width: 1.9;
            }
        }
    }

    .swiper-pagination {
        left: 5px;
        right: 5px;
        bottom: 5px;
        opacity: 0;
        transform: translateY(5px);
        transition: opacity $transition-time, transform $transition-time;
    }

    .swiper-pagination-bullet {
        height: 2px;
    }

    .swiper-slide {
        opacity: 1 !important;
        visibility: visible !important;
        pointer-events: auto !important;
    }
}