.search {

    &--link-map &__block-input {
        grid-template-columns: 44px 1fr 36px;
    }

    &__block-input {
        display: grid;
        grid-template-columns: 44px 1fr;
        align-items: center;
        width: 362px;
        height: 48px;
        background-color: $white;
        border-radius: 10px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 100%;
        width: 100%;
        border: none;
        cursor: pointer;
        background-color: transparent;
        transition: opacity $transition-time;

        &:hover {
            opacity: 0.5;
        }
    }

    &__btn-icon {
        width: 16px;
        height: 16px;
    }

    &__input {
        background-color: transparent;
        height: 100%;
        padding-right: 18px;
        outline: none;
        border: none;
        @include adaptiv-font(16, 14);

        &::placeholder {
            color: $light-text;
        }
    }

    &__link-map {
        display: flex;
        transition: opacity $transition-time;

        &:hover {
            opacity: 0.6;
        }
    }

    &__link-map-icon {
        width: 20px;
        height: 20px;
    }
}