.share {
    position: relative;

    &:hover &__block-content {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, 5px);
    }

    &__block-content {
        position: absolute;
        z-index: 5;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 257px;
        padding: 24px 16px;
        border-radius: 10px;
        background-color: $white;
        opacity: 0;
        visibility: hidden;
        transition: 
            opacity $transition-time,
            visibility $transition-time,
            transform $transition-time;
    }

    &__block-link {
        margin-top: 16px;
    }

    &__link {
        display: block;
        margin-top: 10px;
        color: $navy-blue;
        text-align: center;
        font-weight: 600;
        transition: opacity $transition-time;

        &:hover {
            opacity: 0.6;
        }
    }

    .input {
        &__input {
            color: $light-text;
        }
    }

    .social-button {
        background-color: #F5FAFF;
    }
}