<div class="about-numbers">
    <div class="main-container max-width">
        <div class="about-numbers__block-head">
            @include('../ui/title-section.html', {
                "title": "About us in numbers"
            })
        </div>
        <ul class="about-numbers__list list-reset">
            <li class="about-numbers__li">
                <div class="about-numbers__block-number">
                    <span class="about-numbers__number">578</span>
                </div>
                <div class="about-numbers__block-text">
                    <span class="about-numbers__text">Agents and <br> Agencys</span>
                </div>
            </li>
            <li class="about-numbers__li">
                <div class="about-numbers__block-number">
                    <span class="about-numbers__number">12K+</span>
                </div>
                <div class="about-numbers__block-text">
                    <span class="about-numbers__text">Happy customer <br> severy year</span>
                </div>
            </li>
            <li class="about-numbers__li">
                <div class="about-numbers__block-number">
                    <span class="about-numbers__number">732</span>
                </div>
                <div class="about-numbers__block-text">
                    <span class="about-numbers__text">New Listing <br> every week</span>
                </div>
            </li>
            <li class="about-numbers__li">
                <div class="about-numbers__block-number">
                    <span class="about-numbers__number">2K+</span>
                </div>
                <div class="about-numbers__block-text">
                    <span class="about-numbers__text">Won <br> Awards</span>
                </div>
            </li>
        </ul>
    </div>
</div>