<section class="awards" data-awards="block-awards">
    <div class="main-container max-width">
        <div class="awards__block-head">
            <h3 class="title-section title-reset">Awards</h3>
            <div class="slider-btns">
                <button type="button" class="arrow arrow--size--bg arrow--theme--blue" data-awards="prev-btn">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left-white"/>
                    </svg>
                </button>
                <button type="button" class="arrow arrow--size--bg arrow--theme--blue" data-awards="next-btn">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right-white"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="swiper awards__slider" data-awards="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="awards__block-image">
                        <img src="./assets/images/awards-1.png" class="awards__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="awards__block-image">
                        <img src="./assets/images/awards-1.png" class="awards__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="awards__block-image">
                        <img src="./assets/images/awards-1.png" class="awards__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="awards__block-image">
                        <img src="./assets/images/awards-1.png" class="awards__image" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>