<section class="basic-properties">
    <div class="main-container max-width">
        <div class="basic-properties__block-head">
            <h3 class="title-section title-reset">Basic properties</h3>
        </div>
        <div class="basic-properties__block-content">
            <ul class="basic-properties__list list-reset">
                <li class="basic-properties__li">
                    <span class="basic-properties__name-property">Gross m²</span>
                    <span class="basic-properties__value-property">300</span>
                </li>
                <li class="basic-properties__li">
                    <span class="basic-properties__name-property">Bedrooms</span>
                    <span class="basic-properties__value-property">5+1</span>
                </li>
                <li class="basic-properties__li">
                    <span class="basic-properties__name-property">Available for Loan</span>
                    <span class="basic-properties__value-property">No</span>
                </li>
                <li class="basic-properties__li">
                    <span class="basic-properties__name-property">Publication date</span>
                    <span class="basic-properties__value-property">20.03.22</span>
                </li>
                <li class="basic-properties__li">
                    <span class="basic-properties__name-property">Object ID</span>
                    <span class="basic-properties__value-property">1024461853</span>
                </li>
            </ul>
        </div>
    </div>
</section>