<div class="big-slider" data-big-slider="block-slider">
    <div class="main-container max-width">
        <div class="swiper big-slider__slider-second" data-big-slider="second-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
            </div>
            <div class="toggle-property active" data-toggle-Property="block-toggle-property">
                <div class="toggle-property__block-property">
                    <span class="toggle-property__name-property">Photos</span>
                </div>
                <div class="toggle-property__block-property">
                    <span class="toggle-property__name-property">Map</span>
                </div>
            </div>
            <button type="button" class="arrow arrow--size--bg arrow--theme--transparent" data-big-slider="prev-btn">
                <svg class="arrow__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left-white"/>
                </svg>
            </button>
            <button type="button" class="arrow arrow--size--bg arrow--theme--transparent" data-big-slider="next-btn">
                <svg class="arrow__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right-white"/>
                </svg>
            </button>
            <div class="swiper-pagination" data-big-slider="pagination"></div>
        </div>
        <div class="swiper big-slider__slider-first" data-big-slider="first-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="big-slider__block-image">
                        <img src="./assets/images/detailed-card-1.jpg" class="big-slider__image" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>