<div class="bread-crumbs bread-crumbs--theme--dark">
    <div class="main-container max-width">
        <ul class="bread-crumbs__list list-reset">
            <li class="bread-crumbs__li">
                <a href="#" class="bread-crumbs__link link-reset">Home</a>
            </li>
            <li class="bread-crumbs__li">
                <a href="#" class="bread-crumbs__link link-reset">For sale</a>
            </li>
            <li class="bread-crumbs__li">
                <a href="##" class="bread-crumbs__link link-reset">Property</a>
            </li>
        </ul>
    </div>
</div>