<section class="card-section">
    <div class="main-container max-width">
        <div class="card-section__block-head">
            <h2 class="title-section title-reset">New real estate properties for sale in Turkey</h2>
            <div class="card-section__block-links">
                @include('../ui/toggle-property.html')
                <a href="#" class="btn btn--size-sm btn--theme--light-blue">
                    <svg class="btn__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#settings"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="card-section__wrapper-cards">
            @include('./product-card.html')
            @include('./product-card.html')
            @include('./product-card.html')
            @include('./product-card.html')
            @include('./product-card.html')
            @include('./product-card.html')
            @include('./product-card.html')
            @include('./product-card.html')
        </div>
        <div class="card-section__block-btns">
            <a href="#" class="btn btn--size-sm btn--theme--navy-blue card-section__btn-more">
                <span class="btn__text">Show More</span>
            </a>
            <a href="#" class="btn btn--size-sm btn--theme--light-blue card-section__btn-filters">
                <svg class="btn__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#settings"/>
                </svg>
                <span class="btn__text">Filters</span>
            </a>
        </div>
    </div>
</section>