<div class="commercial-block">
    <div class="commercial-block__block-image">
        <img src="./assets/images/commercial-block-1.jpg" class="commercial-block__image" alt="">
    </div>
    <div class="commercial-block__block-info">
        <span class="commercial-block__title">Dovercourt-Wallace Emerson-Junction</span>
        <span class="commercial-block__subtitle">See the community attractions and lifestyle</span>
    </div>
    <div class="commercial-block__block-link">
        <a href="#" class="btn btn--size-sm btn--theme--light-blue">
            <span class="btn__text">Learn more</span>
        </a>
    </div>
</div>