<div class="contact-form">
    <div class="contact-form__block-head">
        <span class="contact-form__title">Contact Sales</span>
        <span class="contact-form__subtitle">Leave your details, our managers will contact you shortly</span>
    </div>
    <form action="" class="contact-form__form">
        <div class="input" data-input="block-input">
            <input type="text" class="input__input" data-input="input">
            <span class="input__placeholder" data-input="placeholder">First Name</span>
        </div>
        <div class="input" data-input="block-input">
            <input type="text" class="input__input" data-input="input">
            <span class="input__placeholder" data-input="placeholder">Last Name</span>
        </div>
        <div class="input" data-input="block-input">
            <input type="text" class="input__input" data-input="input">
            <span class="input__placeholder" data-input="placeholder">Phone Number</span>
        </div>
        <div class="input" data-input="block-input">
            <input type="text" class="input__input" data-input="input">
            <span class="input__placeholder" data-input="placeholder">E-mail</span>
        </div>
        <button type="button" class="btn btn--size-bg btn--theme--navy-blue" data-modal-link="#simple-info">
            <span class="btn__text">Send</span>
        </button>

        <span class="contact-form__privacy-policy">
            Please view our <a href="#" class="link-reset">Privacy policy</a> to find out more about how we collect, use and keep your data safe.
        </span>
    </form>
</div>