<div class="contact-info">
    @include('../ui/specific-title.html', {
        "title": "Contact Info"
    })
    <ul class="contact-info__list list-reset">
        <li class="contact-info__li">
            <svg class="contact-info__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#email"/>
            </svg>
            <a href="#" class="contact-info__link link-reset">propertyguide@mail.ru</a>
        </li>
        <li class="contact-info__li">
            <svg class="contact-info__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#marker"/>
            </svg>
            <a href="#" class="contact-info__link link-reset">USA 27TH Brooklyn NY</a>
        </li>
        <li class="contact-info__li">
            <svg class="contact-info__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#phone"/>
            </svg>
            <a href="tel:4033034210" class="contact-info__link link-reset">(403) 303-4210</a>
        </li>
    </ul>
</div>