<section class="customer-reviews">
    <div class="main-container max-width">
        <div class="customer-reviews__block-content">
            <div class="customer-reviews__block-head">
                <h3 class="title-section title-reset">Customer reviews</h3>
            </div>
            <div class="customer-reviews__block-reviews">
                <div class="review" data-review="block-review">
                    <div class="review__block-head">
                        <ul class="review__list-rating-stars list-reset">
                            <li class="review__li active">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                            <li class="review__li active">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                            <li class="review__li active">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                            <li class="review__li active">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                            <li class="review__li active">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                        </ul>
                        <div class="review__block-name-user">
                            <span class="review__name-user">Ron Garneau</span>
                        </div>
                        <div class="review__block-date">
                            <span class="review__date">14.05.2021</span>
                        </div>
                    </div>
                    <div class="review__block-text">
                        <p>
                            I first met Simon and his great team in 2017 when he helped me buy my first house. 
                            I just utilized his services again to sell in may 2021. 
                            I first met Simon and his great team in 2017 when he helped me buy my first house. 
                            I just utilized his services again to sell in may 2021. 
                            I first met Simon and his great team in 2017 when he helped me buy my first house.
                        </p>
                    </div>
                    <div class="swiper review__slider" data-review="slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="review__link link-reset">
                                    <img src="./assets/images/review-1.jpg" class="review__image" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="review__link link-reset">
                                    <img src="./assets/images/review-1.jpg" class="review__image" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="review__link link-reset">
                                    <img src="./assets/images/review-1.jpg" class="review__image" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="review__link link-reset">
                                    <img src="./assets/images/review-1.jpg" class="review__image" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="review__link link-reset">
                                    <img src="./assets/images/review-1.jpg" class="review__image" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="review__link link-reset">
                                    <img src="./assets/images/review-1.jpg" class="review__image" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="review__link link-reset">
                                    <img src="./assets/images/review-1.jpg" class="review__image" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="review__link link-reset">
                                    <img src="./assets/images/review-1.jpg" class="review__image" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="review__link link-reset">
                                    <img src="./assets/images/review-1.jpg" class="review__image" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="review__link link-reset">
                                    <img src="./assets/images/review-1.jpg" class="review__image" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review" data-review="block-review">
                    <div class="review__block-head">
                        <ul class="review__list-rating-stars list-reset">
                            <li class="review__li active">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                            <li class="review__li active">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                            <li class="review__li active">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                            <li class="review__li active">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                            <li class="review__li">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                        </ul>
                        <div class="review__block-name-user">
                            <span class="review__name-user">Ron Garneau</span>
                        </div>
                        <div class="review__block-date">
                            <span class="review__date">14.05.2021</span>
                        </div>
                    </div>
                    <div class="review__block-text">
                        <p>
                            I first met Simon and his great team in 2017 when he helped me buy my first house. 
                            I just utilized his services again to sell in may 2021. 
                            I first met Simon and his great team in 2017 when he helped me buy my first house. 
                            I just utilized his services again to sell in may 2021. 
                            I first met Simon and his great team in 2017 when he helped me buy my first house.
                        </p>
                    </div>
                </div>
                <div class="review" data-review="block-review">
                    <div class="review__block-head">
                        <ul class="review__list-rating-stars list-reset">
                            <li class="review__li active">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                            <li class="review__li active">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                            <li class="review__li active">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                            <li class="review__li">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                            <li class="review__li">
                                <svg class="review__icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                                </svg>
                            </li>
                        </ul>
                        <div class="review__block-name-user">
                            <span class="review__name-user">Ron Garneau</span>
                        </div>
                        <div class="review__block-date">
                            <span class="review__date">14.05.2021</span>
                        </div>
                    </div>
                    <div class="review__block-text">
                        <p>
                            I first met Simon and his great team in 2017 when he helped me buy my first house. 
                            I just utilized his services again to sell in may 2021. 
                            I first met Simon and his great team in 2017 when he helped me buy my first house. 
                            I just utilized his services again to sell in may 2021. 
                            I first met Simon and his great team in 2017 when he helped me buy my first house.
                        </p>
                    </div>
                </div>
                <button class="customer-reviews__btn-show-more">Show More (10)</button>
            </div>
        </div>
        <div class="side-panel">
            <div class="side-panel__content">
                @include('../components/impressions.html')
            </div>
        </div>
    </div>
</section>