<div class="developer-card">
    <div class="developer-card__wrapper-description">
        <div class="developer-card__block-logo-image">
            <img src="./assets/images/logo-developer.png" class="developer-card__logo-image" alt="">
        </div>
        <div class="developer-card__developer-data">
            <div class="developer-card__wrapper-name">
                <div class="developer-card__block-name">
                    <img src="./assets/images/green-shield.svg" class="developer-card__image-verified" alt="">
                    <span class="developer-card__name">Sonmez real estate & construction</span>
                </div>
                <div class="developer-card__block-rating">
                    <svg class="developer-card__rating-icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#star-bg"/>
                    </svg>
                    <span class="developer-card__rating-text">5/5</span>
                </div>
            </div>
            <div class="developer-card__block-date-foundation">
                <span class="developer-card__date-foundation">Founded in <b>2011 year</b></span>
            </div>
        </div>
        <div class="developer-card__block-description">
            <p>
                "Sonmez Real Estate & Construction" is a real estate agency and construction company in the city of Alanya on the Mediterranean coast of Turkey since 2001.
                "Sonmez Real Estate & Construction" is a real estate agency and co... <a href="#" class="link-reset">Show More</a>
            </p>
        </div>
    </div>

    <div class="developer-card__wrapper-info">
        <ul class="developer-card__list-info list-reset">
            <li class="developer-card__li-info">
                <span class="developer-card__name-info">Under construction</span>
                <a href="#" class="link-reset developer-card__value">12 objects</a>
            </li>
            <li class="developer-card__li-info">
                <span class="developer-card__name-info">Handed over</span>
                <a href="#" class="link-reset developer-card__value">66 objects</a>
            </li>
            <li class="developer-card__li-info">
                <span class="developer-card__name-info">Price of apartments from</span>
                <span class="developer-card__value">1,000,000 TL</span>
            </li>
        </ul>
        <a href="#" class="btn btn--size-sm btn--theme--transparent">
            <span class="btn__text">All objects</span>
        </a>
    </div>
</div>