<section class="documentation">
    <div class="main-container max-width">
        <div class="documentation__block-head">
            <h3 class="title-section title-reset">Documentation</h3>
        </div>
        <div class="documentation__block-content">
            <ul class="documentation__list list-reset">
                <li class="documentation__li">
                    <a href="#" class="documentation__link-preview link-reset">
                        <span class="documentation__text-preview">Design declaration 023</span>
                    </a>
                    <a href="#" class="btn-icon btn-icon--theme--light-blue">
                        <svg class="btn-icon__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#download"/>
                        </svg>
                    </a>
                </li>
                <li class="documentation__li">
                    <a href="#" class="documentation__link-preview link-reset">
                        <span class="documentation__text-preview">Permission to enter - 1 queue</span>
                    </a>
                    <a href="#" class="btn-icon btn-icon--theme--light-blue">
                        <svg class="btn-icon__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#download"/>
                        </svg>
                    </a>
                </li>
                <li class="documentation__li">
                    <a href="#" class="documentation__link-preview link-reset">
                        <span class="documentation__text-preview">Design declaration 40031</span>
                    </a>
                    <a href="#" class="btn-icon btn-icon--theme--light-blue">
                        <svg class="btn-icon__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#download"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>