<div class="estate-statistics">
    <div class="main-container max-width">
        <div class="estate-statistics__block-info">
            @include('../ui/title-section.html', {
                "title": "Real Estate Statistics"
            })
            <div class="estate-statistics__block-text">
                <p>
                    Toronto real estate average sold price in the last 30 days (November 16 - December 15) was 1,061,295 TL, which is -161,295 TL (-5.7%) lower than the average price of 1,121,301 TL in the previous 30 day period.
                </p>
                <p>
                    Toronto real estate prices over the last 30 days are also +34,123 TL (+3.2%) higher than the average selling price of 1,027,172 TL over the past year.
                </p>
            </div>
            @include('../ui/slider-btns.html')
        </div>
        <div class="estate-statistics__block-slider">
            <div class="estate-statistics__block-slide">
                <img src="./assets/images/reach-by-device.png" class="estate-statistics__slide-image" alt="">
            </div>
            <div class="estate-statistics__block-slide">
                <img src="./assets/images/geo.png" class="estate-statistics__slide-image" alt="">
            </div>
        </div>
    </div>
</div>