<div class="for-clients">
    @include('../ui/specific-title.html', {
        "title": "For clients"
    })
    <ul class="for-clients__list list-reset">
        <li class="for-clients__li">
            <a href="#" class="for-clients__link link-reset">For Sale</a>
        </li>
        <li class="for-clients__li">
            <a href="#" class="for-clients__link link-reset">For Rent</a>
        </li>
        <li class="for-clients__li">
            <a href="#" class="for-clients__link link-reset">Residential complexes</a>
        </li>
        <li class="for-clients__li">
            <a href="#" class="for-clients__link link-reset">Developers</a>
        </li>
        <li class="for-clients__li">
            <a href="#" class="for-clients__link link-reset">Favorite</a>
        </li>
    </ul>
</div>