<section class="layouts" data-layouts="block-layouts">
    <div class="main-container max-width">
        <div class="layouts__block-head">
            <h3 class="title-section title-reset">Layouts</h3>
        </div>
        <div class="layouts__block-content">
            <div class="layouts__block-navigation">
                <div class="layouts__block-dropouts">
                    <div class="select select--theme--light-blue" data-select="block-select">
                        <div class="select__inner">
                            <button type="button" class="select__btn" data-select="btn">
                                <span class="select__btn-text">All buildings</span>
                                <svg class="select__btn-icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down"></use>
                                </svg>
                            </button>
                            <div class="select__block-pop-up" data-scrollbar>
                                <ul class="select__list list-reset">
                                    <li class="select__li">
                                        <a href="#" class="select__link link-reset">All buildings</a>
                                    </li>
                                    <li class="select__li">
                                        <a href="#" class="select__link link-reset">Object number 1</a>
                                    </li>
                                    <li class="select__li">
                                        <a href="#" class="select__link link-reset">Object number 2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="select select--theme--light-blue" data-select="block-select">
                        <div class="select__inner">
                            <button type="button" class="select__btn" data-select="btn">
                                <span class="select__btn-text">2-room</span>
                                <svg class="select__btn-icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down"></use>
                                </svg>
                            </button>
                            <div class="select__block-pop-up" data-scrollbar>
                                <ul class="select__list list-reset">
                                    <li class="select__li">
                                        <a href="#" class="select__link link-reset">1-room</a>
                                    </li>
                                    <li class="select__li">
                                        <a href="#" class="select__link link-reset">2-room</a>
                                    </li>
                                    <li class="select__li">
                                        <a href="#" class="select__link link-reset">3-room</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-btns">
                    <button type="button" class="arrow arrow--size--bg arrow--theme--blue" data-layouts="prev-btn">
                        <svg class="arrow__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left-white"/>
                        </svg>
                    </button>
                    <button type="button" class="arrow arrow--size--bg arrow--theme--blue" data-layouts="next-btn">
                        <svg class="arrow__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right-white"/>
                        </svg>
                    </button>
                </div>
            </div>
            <ul class="layouts__list-properties list-reset">
                <li class="layouts__li">
                    <span class="layouts__name-property">House</span>
                    <span class="layouts__value-property">180/1</span>
                </li>
                <li class="layouts__li">
                    <span class="layouts__name-property">Number of rooms</span>
                    <span class="layouts__value-property">2-room</span>
                </li>
                <li class="layouts__li">
                    <span class="layouts__name-property">Approximate m²</span>
                    <span class="layouts__value-property">from 440</span>
                </li>
                <li class="layouts__li">
                    <span class="layouts__name-property">Price per m²</span>
                    <span class="layouts__value-property">from 55,000 TL</span>
                </li>
                <li class="layouts__li">
                    <span class="layouts__name-property">Price for everything</span>
                    <span class="layouts__value-property">from 1,699,000 TL</span>
                </li>
            </ul>
            <div class="swiper layouts__slider" data-layouts="slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="layouts__block-slider-content active">
                            <div class="layouts__block-image">
                                <img src="./assets/images/layouts-1.jpg" class="layouts__image" alt="">
                            </div>
                            <a href="#" class="btn btn--size-sm btn--theme--light-blue">
                                <span class="btn__text">Request a quote</span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="layouts__block-slider-content">
                            <div class="layouts__block-image">
                                <img src="./assets/images/layouts-2.jpg" class="layouts__image" alt="">
                            </div>
                            <a href="#" class="btn btn--size-sm btn--theme--light-blue">
                                <span class="btn__text">Request a quote</span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="layouts__block-slider-content">
                            <div class="layouts__block-image">
                                <img src="./assets/images/layouts-1.jpg" class="layouts__image" alt="">
                            </div>
                            <a href="#" class="btn btn--size-sm btn--theme--light-blue">
                                <span class="btn__text">Request a quote</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>