<div class="main-banner">
    <div class="main-banner__block-bg">
        <img src="./assets/images/banner-bg-1.jpg" class="main-banner__image-bg" alt="">
    </div>
    <div class="main-banner__inner">
        <div class="main-container max-width">
            <span class="main-banner__subtitle">Real Estate Searching Platform</span>
            <h1 class="title-section title-reset main-banner__title">Search 1,200,000 Active & Sold Listings</h1>
            @include('../components/search-bar.html')
        </div>
    </div>
</div>