<nav class="main-nav">
    <ul class="main-nav__list list-reset">
        <li class="main-nav__li">
            <a href="#" class="main-nav__link link-reset">
                <span class="main-nav__text">For Sale</span>
            </a>
        </li>
        <li class="main-nav__li">
            <a href="#" class="main-nav__link link-reset">
                <span class="main-nav__text">For Rent</span>
            </a>
        </li>
        <li class="main-nav__li">
            <a href="#" class="main-nav__link link-reset">
                <span class="main-nav__text">Residential complexes</span>
            </a>
        </li>
        <li class="main-nav__li">
            <a href="#" class="main-nav__link link-reset">
                <span class="main-nav__text">Developers</span>
            </a>
        </li>
        <li class="main-nav__li">
            <a href="#" class="main-nav__link link-reset">
                <span class="main-nav__text">Favorite</span>
                <span class="main-nav__count">12</span>
            </a>
        </li>
    </ul>
</nav>