<section class="master-plan" data-master-plan="block-master-plan">
    <div class="main-container max-width">
        <div class="master-plan__block-head">
            <h3 class="title-section title-reset">Master plan</h3>
        </div>
        <div class="master-plan__block-content">
            <div class="swiper master-plan__slider" data-master-plan="slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="./assets/images/genplan.jpg" class="master-plan__slider-image" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="./assets/images/genplan.jpg" class="master-plan__slider-image" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="./assets/images/genplan.jpg" class="master-plan__slider-image" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="./assets/images/genplan.jpg" class="master-plan__slider-image" alt="">
                    </div>
                </div>
                <button type="button" class="arrow arrow--size--bg arrow--theme--transparent" data-master-plan="prev-btn">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left-white"/>
                    </svg>
                </button>
                <button type="button" class="arrow arrow--size--bg arrow--theme--transparent" data-master-plan="next-btn">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right-white"/>
                    </svg>
                </button>
                <div class="swiper-pagination" data-master-plan="pagination"></div>
            </div>
        </div>
    </div>
</section>