<section class="other-features">
    <div class="main-container max-width">
        <div class="other-features__block-head">
            <h3 class="title-section title-reset">Other Features</h3>
        </div>
    </div>
    <div class="other-features__block-content">
        <div class="other-features__block-feature">
            <span class="other-features__name-feature">Exterior Features</span>
            <ul class="other-features__list list-reset">
                <li class="other-features__li">

                </li>
            </ul>
        </div>
    </div>
</section>