<div class="pagination">
    <div class="pagination__block-arrow">
        <a href="#" class="arrow arrow--size--bg arrow--theme--blue" disabled>
            <svg class="arrow__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left-white"/>
            </svg>
        </a>
    </div>
    <ul class="pagination__list list-reset">
        <li class="pagination__li active">
            <a href="#" class="pagination__link-number-page link-reset">1</a>
        </li>
        <li class="pagination__li">
            <a href="#" class="pagination__link-number-page link-reset">2</a>
        </li>
        <li class="pagination__li">
            <a href="#" class="pagination__link-number-page link-reset">3</a>
        </li>
        <li class="pagination__li">
            <a href="#" class="pagination__link-number-page link-reset">4</a>
        </li>
        <li class="pagination__li">
            <a href="#" class="pagination__link-number-page link-reset">5</a>
        </li>
        <li class="pagination__li pagination__li--ellipsis">
            <a href="##" class="pagination__link-number-page link-reset">...</a>
        </li>
        <li class="pagination__li">
            <a href="#" class="pagination__link-number-page link-reset">1000</a>
        </li>
    </ul>
    <div class="pagination__block-arrow">
        <a href="#" class="arrow arrow--size--bg arrow--theme--blue">
            <svg class="arrow__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right-white"/>
            </svg>
        </a>
    </div>
</div>