<div class="popular-cities">
    <div class="main-container max-width">
        <div class="popular-cities__block-info">
            <h2 class="title-section title-reset">Popular cities</h2>
            <div class="popular-cities__block-subtitle">
                <span class="popular-cities__subtitle">Make your search easier! See propertiesin your city</span>
            </div>
            <div class="search">
                <div class="search__block-input">
                    <button class="search__btn">
                        <svg class="search__btn-icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#loupe"></use>
                        </svg>
                    </button>
                    <input type="text" class="search__input" placeholder="Enter your city">
                </div>
                <!-- Результаты поиска -->
            </div>
            @include('../ui/slider-btns.html')
        </div>
        <div class="popular-cities__block-slider">
            <div class="popular-cities__block-slide">
                <a href="#" class="link-reset">
                    <div class="popular-cities__block-slide-bg">
                        <img src="./assets/images/antalya.jpg" class="popular-cities__slide-bg" alt="">
                    </div>
                    <div class="popular-cities__wrapper-slide-info">
                        <div class="popular-cities__block-slide-info">
                            <span class="popular-cities__slide-name">antalya</span>
                            <span class="popular-cities__slide-objects">642 objects</span>
                        </div>
                        <span href="#" class="arrow arrow--size--sm arrow--theme--transparent">
                            <svg class="arrow__icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right-white"/>
                            </svg>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>