<section class="prices-apartments">
    <div class="main-container max-width">
        <div class="prices-apartments__block-head">
            <h3 class="title-section title-reset">Prices for apartments</h3>
        </div>
        <div class="prices-apartments__block-content">
            <table class="prices-apartments__table">
                <thead>
                    <tr>
                        <td>Number of rooms</td>
                        <td>Approximate m²</td>
                        <td>Price per m²</td>
                        <td>Price for everything</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>Number of rooms</span>
                            <span>1-room</span>
                        </td>
                        <td>
                            <span>Approximate m²</span>
                            <span>from 300</span>
                        </td>
                        <td>
                            <span>Price per m²</span>
                            <span>from 60,000 TL</span>
                        </td>
                        <td>
                            <span>Price for everything</span>
                            <span>from 1,699,000 TL</span>
                        </td>
                        <td>
                            <a href="#" class="btn btn--size-sm btn--theme--light-blue">
                                <span class="btn__text">See objects (88)</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Number of rooms</span>
                            <span>2-room</span>
                        </td>
                        <td>
                            <span>Approximate m²</span>
                            <span>from 440</span>
                        </td>
                        <td>
                            <span>Price per m²</span>
                            <span>from 55,000 TL</span>
                        </td>
                        <td>
                            <span>Price for everything</span>
                            <span>from 2,800,000 TL</span>
                        </td>
                        <td>
                            <a href="#" class="btn btn--size-sm btn--theme--light-blue">
                                <span class="btn__text">See objects (34)</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Number of rooms</span>
                            <span>3-room</span>
                        </td>
                        <td>
                            <span>Approximate m²</span>
                            <span>from 360</span>
                        </td>
                        <td>
                            <span>Price per m²</span>
                            <span>from 75,000 TL</span>
                        </td>
                        <td>
                            <span>Price for everything</span>
                            <span>from 3,990,000 TL</span>
                        </td>
                        <td>
                            <a href="#" class="btn btn--size-sm btn--theme--light-blue">
                                <span class="btn__text">See objects (14)</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</section>