

<div class="product-card product-card--type--residential-complex"> 
    <div class="product-card__block-images">
        @include('../ui/favorites-icon.html')
        <div class="product-card__wrapper-label-quantity">
            <div class="product-card__block-label-quantity">
                <div class="product-card__label-quantity">
                    <svg class="product-card__label-quantity-icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#photo-camera"/>
                    </svg>
                    <span class="product-card__label-quantity-count">12</span>
                </div>
            </div>
            <div class="product-card__block-label-quantity">
                <a href="#" class="product-card__label-quantity hint">
                    <svg class="product-card__label-quantity-icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#3D"/>
                    </svg>
                    <span class="hint__text">3D tour</span>
                </a>
                <a href="#" class="product-card__label-quantity hint">
                    <svg class="product-card__label-quantity-icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#play"/>
                    </svg>
                    <span class="hint__text">Watch the video</span>
                </a>
            </div>
        </div>
        <img src="./assets/images/card-1.jpg" class="product-card__image" alt="">
        <!-- Slider -->
    </div>
    <div class="product-card__block-content">
        <div class="product-card__block-info">
            <span class="product-card__address">Sunrise Residence</span>
            <span class="product-card__price">from 5,125,000 TL</span>
        </div>
        <div class="product-card__block-links">
            <ul class="product-card__list-links list-reset">
                <li class="product-card__li-link">
                    <a href="#" class="product-card__links-link link-reset">Harding</a>
                </li>
                <!-- <li class="product-card__li-link">
                    <a href="#" class="product-card__links-link link-reset">Richmond Hill</a>
                </li>
                <li class="product-card__li-link">
                    <a href="#" class="product-card__links-link link-reset">Richmond Hill</a>
                </li>
                <li class="product-card__li-link">
                    <a href="#" class="product-card__links-link link-reset">Richmond Hill</a>
                </li>
                <li class="product-card__li-link">
                    <a href="#" class="product-card__links-link link-reset">Richmond Hill</a>
                </li>
                <li class="product-card__li-link">
                    <a href="#" class="product-card__links-link link-reset">Richmond Hill</a>
                </li>
                <li class="product-card__li-link">
                    <a href="#" class="product-card__links-link link-reset">Richmond Hill</a>
                </li> -->
            </ul>
        </div>
        <div class="product-card__wrapper-employee">
            <div class="product-card__block-employee">
                <div class="product-card__block-employee-avatar product-card__block-employee-avatar--verified">
                    <img src="./assets/images/employee-avatar-1.jpg" class="product-card__employee-avatar" alt="">
                </div>
                <div class="product-card__block-info-employee">
                    <span class="product-card__employee-name">Mickey Todd</span>
                    <span class="product-card__employee-post">Realtor</span>
                </div>
            </div>
            <button type="button" class="btn btn--size-sm btn--theme--transparent product-card__btn-contact">
                <span class="btn__text">Contact</span>
            </button>
        </div>
        <div class="product-card__wrapper-btns">
            <div class="product-card__block-btns">
                <a href="#" class="btn btn--size-sm btn--theme--coral">
                    <span class="btn__text">Book Showing</span>
                </a>
                <a href="#" class="btn btn--size-sm btn--theme--navy-blue">
                    <span class="btn__text">Request Info</span>
                </a>
            </div>
            <div class="product-card__block-btns">
                <a href="#" class="btn-icon">
                    <svg class="btn-icon__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#point"/>
                    </svg>
                </a>
                @include('./share.html')
            </div>
        </div>
    </div>
</div>