<section class="property-details" data-property-details="block-property-details">
    <div class="main-container max-width">
        <div class="property-details__block-head">
            <h3 class="title-section title-reset">Property Details</h3>
        </div>
    </div>
    <div class="property-details__block-content">
        <ul class="property-details__list list-reset" data-property-details="list">
            <li class="property-details__li">
                <span class="property-details__name-property">Object ID</span>
                <span class="property-details__value-property">
                    <a href="#" class="link-reset">1024461853</a>
                </span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Gross m²</span>
                <span class="property-details__value-property">300</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Bathrooms</span>
                <span class="property-details__value-property">1</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Heating Type</span>
                <span class="property-details__value-property">Underfloor Heating</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Floor location</span>
                <span class="property-details__value-property">11 and above</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Video Home Tour</span>
                <span class="property-details__value-property">Yes</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Furniture Condition</span>
                <span class="property-details__value-property">Unfurnished</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Available for Loan</span>
                <span class="property-details__value-property">No</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Price per m²</span>
                <span class="property-details__value-property">999 TL</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Net m²</span>
                <span class="property-details__value-property">240</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Bedrooms</span>
                <span class="property-details__value-property">5+1</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Number of floors in the building</span>
                <span class="property-details__value-property">3</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Property Type</span>
                <span class="property-details__value-property">Compound</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Available for Trade</span>
                <span class="property-details__value-property">Yes</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Building Age</span>
                <span class="property-details__value-property">Between 6-10</span>
            </li>
            <li class="property-details__li">
                <span class="property-details__name-property">Status</span>
                <span class="property-details__value-property">New</span>
            </li>
        </ul>
        <button class="property-details__btn-show-more" data-property-details="btn">Show More</button>
    </div>
</section>