<div class="share">
    <a href="#" class="btn-icon">
        <svg class="btn-icon__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#share"/>
        </svg>
    </a>
    <div class="share__block-content">
        @include('../components/social-buttons.html')
        <div class="share__block-link">
            <div class="input">
                <input type="text" class="input__input" value="https://statusproperty.ru/products/sale">
            </div>
            <a href="#" class="share__link link-reset">Copy link</a>
        </div>
    </div>
</div>