<div class="social-buttons">
    <ul class="social-buttons__list list-reset">
        <li class="social-buttons__li">
            @include('../ui/social-button.html')
        </li>
        <li class="social-buttons__li">
            @include('../ui/social-button.html')
        </li>
        <li class="social-buttons__li">
            @include('../ui/social-button.html')
        </li>
        <li class="social-buttons__li">
            @include('../ui/social-button.html')
        </li>
    </ul>
</div>