<div class="status-labels">
    <ul class="status-labels__list list-reset">
        <li class="status-labels__li">
            <div class="status-label status-label--theme--coral">
                <span class="status-label__text">new</span>
            </div>
        </li>
        <li class="status-labels__li">
            <div class="status-label status-label--theme--green">
                <span class="status-label__text">avaliable</span>
            </div>
        </li>
        <li class="status-labels__li">
            <div class="status-label status-label--theme--navy-blue">
                <span class="status-label__text">sold</span>
            </div>
        </li>
        <li class="status-labels__li">
            <div class="status-label status-label--theme--purple">
                <span class="status-label__text">foreclosure</span>
            </div>
        </li>
    </ul>
</div>