<div class="tags" data-tags="block-tags">
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Garden</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Office</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Commercial</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Villa</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Bungalow</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Duplex</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Apartment</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Whole Building</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Whole Building</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Whole Building</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Apartment</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Villa</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Condos</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tag tag--size--sm tag--theme--delete" data-tags="tag">
        <span class="tag__text">Commercial</span>
        <svg class="tag__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
        </svg>
    </div>
    <div class="tags__block-btns" data-tags="block-btns">
        <button type="button" class="btn btn--size-sm btn--theme--light-blue tags__btn-toggle-show" data-tags="btn-toggle-show">
            <svg class="btn__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#ellipsis"/>
            </svg>
            <span class="btn__text">Hide</span>
        </button>
        <button type="button" class="btn btn--size-sm btn--theme--light-blue" data-tags="btn-clear-all">
            <span class="btn__text">Clear all</span>
        </button>
    </div>
</div>