<section class="text-block">
    <div class="main-container max-width">
        <h2 class="title-section title-reset">Turkey's largest developers</h2>
        <div class="text-block__block-text">
            <p>
                Here is a list of large and reliable developers in Turkey. 
                Choosing a builder for your future home is a responsible task. 
                First of all, carefully review the history of the construction company, pay attention to the developer's partners and the number of commissioned objects. 
                Reviews of the delivered objects can be found on the Internet. 
                We keep all delivered properties from the developer so that you can track the entire history of the company.
            </p>
    
            <p>
                In the card of each company you will find a list of all the objects of the company, both under construction and at the stage of settling in housing. 
                Information about developers is constantly updated.
            </p>
    
            <p>
                The main problems that buyers of housing from developers in Turkey face are the discrepancy between the deadlines for the completion of the object, and the poor quality of housing for rent. 
                Choose carefully who will build your future home!
            </p>
        </div>
    </div>
</section>