<div class="text-document">
    <div class="main-container max-width">
        <div class="text-document__wrapper-text">
            <h2 class="title-section title-reset">@title</h2>
            <h4 class="title-section title-reset">1. General Provisions</h4>
            <ol>
                <li>1.1. The policy regarding the processing of personal data (hereinafter referred to as the Policy) is aimed at protecting the rights and freedoms of individuals whose personal data is processed by BK RUS Limited Liability Company (hereinafter referred to as the Operator).</li>
                <li>1.2. The policy was developed in accordance with paragraph 2 of part 1 of Art. 18.1 of the Federal Law of July 27, 2006 No. 152-FZ "On Personal Data" (hereinafter - the Federal Law "On Personal Data").</li>
                <li>1.3. The policy contains information to be disclosed in accordance with Part 1 of Art. 14 of the Federal Law "On Personal Data", and is a public document.</li>
            </ol>
            <h4 class="title-section title-reset">2. Information about the operator</h4>
            <ol>
                <li>2.1. The operator operates at 108811</li>
            </ol>
            <h4 class="title-section title-reset">3. Information about the processing of personal data</h4>
            <ol>
                <li>3.1. The Operator processes personal data on a legal and fair basis to perform the functions, powers and duties assigned by law, to exercise the rights and legitimate interests of the Operator, the Operator's employees and third parties.</li>
                <li>3.2. The operator receives personal data directly from the subjects of personal data.</li>
                <li>3.3. The operator processes personal data in automated and non-automated ways, with the use of computer technology and without the use of such tools.</li>
                <li>3.4. Personal data processing activities include collection, recording, systematization, accumulation, storage, clarification (updating, changing), extraction, use, transfer (distribution, provision, access), depersonalization, blocking, deletion and destruction.</li>
            </ol>
            <h4 class="title-section title-reset">4. Processing of personal data of clients</h4>
            <ol>
                <li>3.1. The Operator processes personal data on a legal and fair basis to perform the functions, powers and duties assigned by law, to exercise the rights and legitimate interests of the Operator, the Operator's employees and third parties.</li>
                <li>
                    3.2. The operator receives personal data directly from the subjects of personal data.
                    <ul>
                        <li>inform about new products, special promotions and offers;</li>
                        <li>conclusion and execution of the terms of the contract.</li>
                    </ul>
                </li>
    
                <li>4.3. The operator processes personal data of clients with their consent provided by clients and / or their legal representatives by performing implicit actions on this website, including, but not limited to, placing an order, registering in a personal account, subscribing to a newsletter, in accordance with this Policy.</li>
                <li>4.4. The operator processes personal data of clients for no longer than is required by the purposes of processing personal data, unless otherwise provided by the requirements of the legislation of the Russian Federation.</li>
                <li>
                    4.5. The operator processes the following personal data of customers:
                    <ul>
                        <li>Full Name;</li>
                        <li>Delivery address;</li>
                        <li>Legal address of the company;</li>
                        <li>Contact phone number;</li>
                        <li>E-mail address;</li>
                        <li>Form of ownership of the organization;</li>
                        <li>TIN;</li>
                        <li>checkpoint;</li>
                    </ul>
                </li>
            </ol>
            <h4 class="title-section title-reset">5. Information about ensuring the security of personal data</h4>
            <ol>
                <li>5.1. The operator appoints a person responsible for organizing the processing of personal data to fulfill the obligations stipulated by the Federal Law "On Personal Data" and the regulatory legal acts adopted in accordance with it.</li>
                <li>
                    5.2. The operator applies a set of legal, organizational and technical measures to ensure the security of personal data to ensure the confidentiality of personal data and protect them from illegal actions:
                    <ul>
                        <li>provides unlimited access to the Policy, a copy of which is posted at the address of the Operator, and can also be posted on the Operator's website (if any);</li>
                        <li>provides employees with access to personal data processed in the information system of the Operator, as well as to their material carriers only for the performance of labor duties;</li>
                        <li>establishes the rules for access to personal data processed in the information system of the Operator, and also ensures registration and accounting of all actions with them;</li>
                        <li>makes an assessment of the harm that may be caused to the subjects of personal data in the event of a violation of the Federal Law "On Personal Data";</li>
                        <li>determines threats to the security of personal data during their processing in the information system of the Operator;</li>
                        <li>applies organizational and technical measures and uses information security tools necessary to achieve the established level of personal data security;</li>
                        <li>detects facts of unauthorized access to personal data and takes measures to respond, including the restoration of personal data modified or destroyed due to unauthorized access to them;</li>
                        <li>evaluates the effectiveness of the measures taken to ensure the security of personal data prior to the commissioning of the Operator's information system;</li>
                        <li>exercises internal control over the compliance of the processing of personal data with the Federal Law "On Personal Data", the regulatory legal acts adopted in accordance with it, the requirements for the protection of personal data, the Policy, the Regulations and other local acts, including control over the measures taken to ensure the security of personal data and their level security during processing in the information system of the Operator.</li>
                    </ul>
                </li>
            </ol>
            <h4 class="title-section title-reset">6. Rights of personal data subjects</h4>
            <ol>
                <li>
                    6.1. The subject of personal data has the right:
                    <ul>
                        <li>to receive personal data relating to this subject and information regarding their processing;</li>
                        <li>to clarify, block or destroy his personal data if they are incomplete, outdated, inaccurate, illegally obtained or not necessary for the stated purpose of processing;</li>
                        <li>to withdraw their consent to the processing of personal data;</li>
                        <li>to protect their rights and legitimate interests, including compensation for losses and compensation for moral damage in a judicial proceeding;</li>
                        <li>to appeal against the actions or inaction of the Operator to the authorized body for the protection of the rights of subjects of personal data or in court.</li>
                    </ul>
                </li>
                <li>6.2. In order to exercise their rights and legitimate interests, personal data subjects have the right to contact the Operator or send a request personally or with the help of a representative. The request must contain the information specified in Part 3 of Art. 14 of the Federal Law "On Personal Data".</li>
            </ol>
        </div>
        <div class="side-panel">
            <div class="side-panel__content">
                @include('./need-help.html')
            </div>
        </div>
    </div>
</div>