.hint {
    position: relative;

    &:hover &__text {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -16px);
    }

    &__text {
        position: absolute;
        z-index: 5;
        display: block;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, -12px);
        width: max-content;
        padding: 8px 16px;
        color: $white;
        text-align: center;
        background-color: $navy-blue;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 600;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition:
            opacity $transition-time,
            visibility $transition-time,
            transform $transition-time;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            border: 7px solid transparent; 
            border-top: 6px solid $navy-blue;
        }
    }
}