.select {
    display: flex;
    align-items: center;

    &:hover &__btn {
        background-color: $light-blue;
    }

    &__inner {
        position: relative;
    }

    &.active {
        .select {
            &__btn {
                background-color: $very-light-blue;
            }

            &__btn-text {
                color: $navy-blue;
            }

            &__btn-icon {
                transform: rotate(-180deg);

                use {
                    fill: $navy-blue;
                }
            }

            &__block-pop-up {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                transform: translate(0, 6px);
                box-shadow: $shadow-three;
            }
        }
    }

    &__signature {
        margin-right: 14px;
        font-weight: 500;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        border-radius: 10px;
        min-height: 48px;
        padding: 5px 24px;
        cursor: pointer;
        transition: background-color $transition-time;
    }

    &__btn-text {
        font-weight: 500;
        transition: color $transition-time;
    }

    &__btn-icon {
        width: 13px;
        height: 13px;
        margin-left: 10px;
        transition: transform $transition-time;

        use {
            fill: $black-text;
            transition: fill $transition-time;
        }
    }

    &__block-pop-up {
        position: absolute;
        z-index: 5;
        top: 100%;
        left: 0;
        transform: translate(0, 0);
        padding: 8px 10px 8px 10px;
        max-height: 256px;
        overflow-y: auto;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0px 0px 0px rgba(44, 47, 56, 0.08);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 
            transform $transition-time, 
            box-shadow $transition-time,
            opacity $transition-time,
            visibility $transition-time;
    }

    &__list {}

    &__li {}

    &__link {
        display: block;
        padding: 12px 77px 12px 16px;
        border-radius: 10px;
        color: $black-text;
        white-space: nowrap;
        transition: background-color $transition-time, color $transition-time;

        &:hover {
            background-color: #F5FAFF;
            color: $navy-blue;
        }
    }

    &--theme--blue {
        .select {
            &__btn {
                border: 1px solid $very-light-blue;
                border-radius: 8px;
            }

            &__btn-text {
                font-size: 18px;
                color: $navy-blue;
            }

            &__btn-icon {
                use {
                    fill: $navy-blue;
                }
            }
        }
    }

    &--size--sm {
        &.active {
            .select {    
                &__block-pop-up {
                    transform: translate(-50%, 6px);
                }
            }
        }
        
        .select {
            &__btn {
                padding: 10px 11px;
            }

            &__block-pop-up {
                padding: 10px 6px;
                left: 50%;
                transform: translate(-50%, 0);
            }

            &__link {
                padding: 10px 20px;
            }
        }
    }

    [data-scrollbar] {
        position: absolute;
    }
}