@media screen and (max-width: 992px) {
    .header {
        position: relative;

        &.active-menu {
            .header {
                &__block-insight {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    z-index: 100;
                }

                &__burger-menu {
                    & span {
                        &:not(:first-child) {
                            margin-top: -2px;
                        }
            
                        &:nth-child(1) {
                            transform: rotate(225deg);
                        }
            
                        &:nth-child(2) {
                            opacity: 0;
                        }
            
                        &:nth-child(3) {
                            transform: rotate(135deg);
                        }
                    }
                }
            }
        }

        &__block-insight,
        &__block-logo,
        &__wrapper-contacts,
        .search,
        .main-nav {
            width: 100%;
        }

        .main-nav {
            padding-left: 20px;
            padding-right: 20px;
        }

        &__block-insight {
            position: fixed;
            top: 0;
            padding-top: 125px;
            height: 100vh;
            transform: translateY(-10px);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: 
                transform $transition-time,
                opacity $transition-time,
                visibility $transition-time;

            .max-width {
                flex-direction: column;
                align-items: flex-start;
                padding: 0;
                height: 100%;
            }
        }

        &__wrapper-contacts {
            background-color: $very-light-blue;
            padding: 26px 20px 30px 20px;
        }

        &__burger-menu {
            display: flex;
            margin-left: auto;
        }
    
        &__block-contact {
            display: none;
        }

        &__block-search {
            position: relative;
            padding: 12px 0;
            z-index: 105;
        }

        &__block-search .max-width {
            flex-direction: column;
            align-items: flex-start;
        }

        .search {
            margin-left: 0;
            margin-top: 12px;
        }

        .contact-info,
        .specific-title {
            display: block;
        }

        .specific-title {
            color: $light-text;
        }

        .contact-info {

            &__icon use {
                stroke: $black-text;
                fill: none;
            }

            &__link {
                color: $black-text;
            }
        }

        .main-nav {
            &__list {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 20px;
            }

            &__li:not(:first-child) {
                margin-left: 0;
                margin-top: 20px;
            }
        }

        .social-buttons {
            display: block;
        }
    }

    .footer {
        &__wrapper-contacts {
            position: relative;
            padding: 40px 0 97px 0;

            .main-container {
                flex-direction: column;
            }
        }

        &__wrapper-copyright {
            padding: 0 0 20px 0;

            .main-container {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__block-copyright-links {
            margin-top: 20px;
        }

        &__copyright-link {
            &:not(:first-child) {
                margin-left: 26px;
            }
        }

        .for-clients,
        .contact-info {
            margin-top: 28px;
        }

        .for-clients {
            margin-left: 0;
        }

        .contact-info {
            margin-left: 0;
        }

        .back-top {
            position: absolute;
            right: 20px;
        }

        .social-buttons {
            position: absolute;
            bottom: 40px;
        }
    }

    .search {
        &__block-input {
            grid-template-columns: 40px 1fr;
            width: 100%;
            height: 41px;
        }

        &--link-map &__block-input {
            grid-template-columns: 44px 1fr 31px;
        }
    }

    .main-banner {
        height: 518px;

        .search-bar {
            margin-top: 46px;
        }
    }

    .search-bar {
        &__block-tab {
            flex-direction: column;
            align-items: flex-start;
            padding: 14px 12px;
            width: 100%;
        }

        &__block-buttons {
            margin-left: 0;
            justify-content: space-between;
        }

        &__btn-filter {
            width: 55px;

            .btn {
                &__text {
                    display: none;
                }

                &__icon {
                    margin-right: 0;
                }
            }
        }

        &__select-residential .select__btn,
        & &__btn-filter {
            min-height: 41px;
        }

        &__select-residential .select__btn {
            padding: 5px 12px;
        }

        .btn-icon {
            width: 52px;
            height: 41px;
        }

        .search {
            width: 100%;
            margin-bottom: 6px;

            &__block-input {
                width: 100%;
            }
        }
    }

    .card-section {
        &__wrapper-cards {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }

        &__block-head {
            flex-direction: column;
            align-items: flex-start;
        }

        &__block-links {
            width: 100%;
            margin-top: 20px;

            .btn {
                display: flex;
            }
        }

        &__block-btns {
            margin-top: 20px;
        }

        &__btn-filters {
            display: none;
        }

        &__btn-more {
            width: 100%;
            height: 48px;
        }
    }

    .popular-cities {
        &__block-nav-slider {
            display: none;
        }

        &__block-slider {
            margin-top: 20px;
        }

        &__block-slide {
            height: 215px;
            width: 155px;
        }

        &__wrapper-slide-info {
            bottom: 15px;
            left: 17px;
            right: 17px;
        }

        &__block-subtitle {
            margin-top: 12px;
        }

        .main-container {
            grid-template-columns: 1fr;
            padding: 32px 20px 32px 20px;

            &::before {
                width: 100%;
                left: 0;
            }
        }

        .search {
            margin-top: 18px;
        }
    }

    .page__content {
        padding: 24px 0 50px 0;
    }

    .main-page {
        .popular-cities {
            margin-top: 40px;
        }
    }
}