@media screen and (max-width: 992px) {
    .header {
        position: relative;

        &.active-menu {
            .header {
                &__block-insight {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }

                &__burger-menu {
                    & span {
                        &:not(:first-child) {
                            margin-top: -2px;
                        }
            
                        &:nth-child(1) {
                            transform: rotate(225deg);
                        }
            
                        &:nth-child(2) {
                            opacity: 0;
                        }
            
                        &:nth-child(3) {
                            transform: rotate(135deg);
                        }
                    }
                }
            }
        }

        &__block-insight,
        &__block-logo,
        &__wrapper-contacts,
        .search,
        .main-nav {
            width: 100%;
        }

        .main-nav {
            padding-left: 20px;
            padding-right: 20px;
        }

        &__block-insight {
            position: fixed;
            z-index: 100;
            top: 0;
            padding: 125px 0 0 0;
            height: 100vh;
            transform: translateY(-10px);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: 
                transform $transition-time,
                opacity $transition-time,
                visibility $transition-time;

            .max-width {
                flex-direction: column;
                align-items: flex-start;
                padding: 0;
                height: 100%;
            }
        }

        &__wrapper-contacts {
            background-color: $very-light-blue;
            padding: 26px 20px 30px 20px;
        }

        &__burger-menu {
            display: flex;
            margin-left: auto;
        }
    
        &__block-contact {
            display: none;
        }

        &__block-search {
            position: relative;
            padding: 12px 0;
            z-index: 105;
        }

        &__block-search .max-width {
            flex-direction: column;
            align-items: flex-start;
        }

        .search {
            margin-left: 0;
            margin-top: 12px;
        }

        .contact-info,
        .specific-title {
            display: block;
        }

        .specific-title {
            color: $light-text;
        }

        .contact-info {

            &__icon use {
                stroke: $black-text;
                fill: none;
            }

            &__link {
                color: $black-text;
            }
        }

        .main-nav {
            &__list {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 20px;
            }

            &__li:not(:first-child) {
                margin-left: 0;
                margin-top: 20px;
            }
        }

        .social-buttons {
            display: block;
        }
    }

    .footer {
        &__wrapper-contacts {
            position: relative;
            padding: 40px 0 97px 0;

            .main-container {
                flex-direction: column;
            }
        }

        &__wrapper-copyright {
            padding: 0 0 20px 0;

            .main-container {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__block-copyright-links {
            margin-top: 20px;
        }

        &__copyright-link {
            &:not(:first-child) {
                margin-left: 26px;
            }
        }

        .for-clients,
        .contact-info {
            margin-top: 28px;
        }

        .for-clients {
            margin-left: 0;
        }

        .contact-info {
            margin-left: 0;
        }

        .back-top {
            position: absolute;
            right: 20px;
        }

        .social-buttons {
            position: absolute;
            bottom: 40px;
        }
    }

    .search {
        &__block-input {
            grid-template-columns: 40px 1fr;
            width: 100%;
            height: 41px;
        }

        &--link-map &__block-input {
            grid-template-columns: 44px 1fr 31px;
        }
    }

    .main-banner {
        height: 518px;

        .search-bar {
            margin-top: 46px;
        }
    }

    .search-bar {
        &__block-tab {
            flex-direction: column;
            align-items: flex-start;
            padding: 14px 12px;
            width: 100%;
        }

        &__block-buttons {
            margin-left: 0;
            justify-content: space-between;
        }

        &__btn-filter {
            width: 55px;

            .btn {
                &__text {
                    display: none;
                }

                &__icon {
                    margin-right: 0;
                }
            }
        }

        &__select-residential .select__btn,
        &__select-city .select__btn,
        & &__btn-filter {
            min-height: 41px;
        }

        &__select-residential .select__btn,
        &__select-city .select__btn {
            padding: 5px 12px;
        }

        .btn-icon {
            width: 52px;
            height: 41px;
        }

        .search {
            width: 100%;
            margin-bottom: 6px;

            &__block-input {
                width: 100%;
            }
        }
    }

    .card-section {
        &__wrapper-cards {
            grid-template-columns: repeat(2, minmax(162px, 1fr));
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }

        &__block-head {
            flex-direction: column;
            align-items: flex-start;
        }

        &__block-links {
            width: 100%;
            margin-top: 20px;

            .btn {
                display: flex;
            }
        }

        &__block-btns {
            margin-top: 20px;
        }

        &__btn-filters {
            display: none;
        }

        &__btn-more {
            width: 100%;
            height: 48px;
        }

        .search-bar {
            &__select-residential {
                display: none;
            }

            &__btn-filter {
                width: 130px;

                .btn__text {
                    display: block;
                }
            }
        }
    }

    .product-card {

        &:hover {
            border-radius: 8px;
        }

        &:hover .swiper-pagination,
        &:hover .arrow {
            opacity: 0;
        }

        &__wrapper-label-quantity {
            display: none;
        }

        &__block-images {
            height: 136px;
        }

        &__block-content {
            padding: 12px 10px 10px 10px;
        }

        &__block-info {
            flex-direction: column;
        }

        &__price {
            order: 1;
        }

        &__address {
            order: 2;
            margin-top: 0;
        }

        &__wrapper-employee,
        &__block-links {
            margin-top: 11px;
        }

        &__btn-contact {
            display: none;
        }

        &__block-employee-avatar {
            width: 34px;
            height: 34px;
        
            &--verified {
                &::before {
                    bottom: 0px;
                    right: 0px;
                    width: 12px;
                    height: 12px;
                }
            }
        }

        &__block-info-employee {
            margin-left: 8px;
        }

        &__list-links {
            display: flex;
            flex-wrap: wrap;
        }

        &__li-link {
            &:not(:last-child):after {
                content: ',';
                margin-right: 3px;
                margin-left: -3px;
                color: $navy-blue;
            }
        }

        &__wrapper-btns {
            display: none;
        }

        .affiliation-label {
            order: 3;
            margin-top: 7px;
        }

        .status-labels,
        .favorites-icon {
            top: 8px;
        }

        .favorites-icon {
            right: 8px;

            &:hover {
                opacity: 1;
            }
        }

        .status-labels {
            left: 8px;

            &__li {
                &:last-child {
                    display: flex;
                }

                &:not(:first-child, :last-child) {
                    display: none;
                }
            }
        }

        .swiper-slide {
            width: 100%;
        }
    }

    .affiliation-label {
        display: flex;
        align-items: center;
        height: 22px;
    }

    .favorites-icon {
        width: 24px;
        height: 24px;

        &__icon {
            width: 14px;
            height: 14px;
        }
    }

    .popular-cities {
        &__block-info {
            padding: 0 20px;
        }

        &__slider {
            margin-top: 20px;
        }

        &__block-slide {
            height: 215px;

            &:hover .popular-cities__slide-name {
                transform: translateY(20px);
            }

            &:hover .popular-cities__slide-objects,
            &:hover .arrow {
                opacity: 0;
                visibility: hidden;
            }

            &:hover .popular-cities__slide-objects {
                transform: translateY(15px);
            }

            &:hover .arrow {
                transform: translateX(15px);
            }
        }

        &__wrapper-slide-info {
            bottom: 15px;
            left: 17px;
            right: 17px;
        }

        &__block-subtitle {
            margin-top: 12px;
        }

        .main-container {
            grid-template-columns: 1fr;
            padding: 32px 0;

            &::before {
                width: 100%;
                left: 0;
            }
        }

        .swiper-slide:first-child.swiper-slide-active {
            margin-left: 20px;
        }

        .search {
            margin-top: 18px;
        }

        .slider-btns {
            display: none;
        }
    }

    .estate-statistics {
        &__block-slider {
            flex-wrap: wrap;
            margin: -6px;
        }

        &__block-slide {
            padding: 6px;

            &:not(:first-child) {
                margin-left: 0;
            }
        }

        &__block-text {
            p {
                line-height: 1.5em;
            }
        }

        .slider-btns {
            display: none;
        }

        .main-container {
            padding: 32px 20px 100px 20px;
            margin-bottom: -50px;

            &::before {
                width: 100%;
                right: 0;
                left: 0;
            }
        }
    }

    .about-numbers {
        &__list {
            margin-top: 20px;
            overflow-x: auto;
        }

        &__li {
            flex-shrink: 0;

            &:not(:first-child) {
                margin-left: 36px;
            }
        }

        &__block-text {
            margin-left: 16px;
        }
    }

    .card-slider {
        &__block-slider {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 20px;
        }

        .slider-btns {
            display: none;
        }

        .product-card-slider {
            overflow: hidden;
        }
    }

    .bread-crumbs {
        display: none;
    }

    .big-slider {
        &__wrapper-slider {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-column-gap: 0;
            grid-row-gap: 5px;
        }

        &__slider-first {
            .swiper-wrapper {
                grid-template-columns: 1fr;
                grid-auto-columns: 1fr;
                grid-template-rows: 140px;
                grid-auto-rows: auto;
                grid-column-gap: 0;
                grid-row-gap: 0;
                grid-auto-flow: column;
                padding-bottom: 10px;
            }
        }
    }

    .detailed-card-page {
        &__pagination {
            margin-top: 24px;
        }

        &__wrapper-info {
            margin-top: 30px;
        }

        .main-banner {
            height: 360px;

            &__inner {
                margin-top: 0;
            }

            &__block-btns {
                margin-top: 20px;
            }

            &__block-price {
                margin-top: 10px;
            }

            &__block-residential-complex,
            &__block-info {
                margin-top: 6px;
            }

            .main-container {
                flex-direction: column;
                align-items: flex-start;
            }

            .status-labels {
                margin-bottom: 12px;
            }
        }

        .property-description, 
        .property-details, 
        .other-features, 
        .infrastructure,
        .card-slider {
            margin-top: 40px;
        }
    }

    .side-panel {
        .contact-form {
            margin-top: 30px;
        }
    }

    .basic-properties {
        &__list {
            grid-template-columns: repeat(auto-fill, 163px);
            grid-row-gap: 6px;
            grid-column-gap: 10px
        }

        &__li {
            padding: 8px 12px;
        }
    }

    .property-description {
        &__block-text {
            margin-top: 12px;
        }

        &__btn-show-more {
            margin-top: 7px;
        }

        &__block-btns {
            margin-top: 20px;
        }

        .btn {
            width: 163px;
            min-height: 48px;

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    .property-details {
        &__list {
            margin-left: 0;
            height: auto;
            flex-wrap: nowrap;
            overflow: hidden;
            transition: height $transition-time;
        }

        &__li {
            margin: 14px 0 0 0;
        }

        &__value-property {
            width: 162px;
        }

        &__btn-show-more {
            display: block;

            &:hover {
                opacity: 1;
            }
        }
    }

    .other-features {
        &__block-content {
            margin-top: 24px;
        }

        &__block-feature {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }

        &__list {
            margin: 7px -5px -5px -5px;
        }

        &__li {
            padding: 5px;
        }
    }

    .pagination {
        &__block-arrow,
        &__li:nth-child(5) {
            display: none;
        }

        &__list {
            margin: 0;
        }
    }

    .page__content {
        padding: 24px 0 0 0;
    }

    .main-page {
        .popular-cities,
        .about-numbers,
        .estate-statistics {
            margin-top: 40px;
        }
    
        .card-slider {
            margin-top: 50px;
        }

        .page {
            &__content {
                padding: 24px 0 0 0;
            }
        }
    }

    .property-page {
        .card-slider {
            margin-top: 40px;
        }
    
        .estate-statistics {
            margin-top: 40px;
        }
    }

    .m-image-gallary {
        &__block-main-image {
            height: 233px;
        }

        &__wrapper-preview-images {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 163px;
            margin-top: 13px;
        }

        &__wrapper-content {
            padding-right: 10px;
        }

        .modal {
            &__window {
                height: 100vh;
                padding: 20px;
            }
        }
    }

    .property-page {
        .page {
            &__content {
                padding: 24px 0 0 0;
            }
        }

        .search-bar {
            &__select-residential {
                display: none;
            }

            &__btn-filter {
                width: 130px;

                .btn__text {
                    display: block;
                }
            } 
        }
    }

    .sorting {
        &__block-dropout {
            right: 0;
            left: auto;
        }
    }

    .property-map-page {
        .card-section {
            &--property-map {
                .card-section {
                    &__wrapper-content {
                        grid-template-columns: 1fr;
                        grid-template-rows: 500px;
                        grid-column-gap: 0;
                    }

                    &__block-map {
                        height: 500px;
                    }

                    &__block-nav {
                        display: none;
                    }

                    &__inner-cards {
                        position: fixed;
                        z-index: 91;
                        display: grid;
                        grid-template-rows: 49px 450px;
                        top: 100%;
                        left: 0;
                        right: 0;
                        padding: 0;
                        height: max-content;
                        background-color: $white;
                        border-radius: 50px 50px 0 0;
                        transform: translate(0, -49px);
                        transition: transform $transition-time;

                        &.active {
                            transform: translate(0, -499px);

                            .card-section {
                                &__show-cards-decor {
                                    opacity: 1;
                                    visibility: visible;
                                    pointer-events: auto;
                                }
                            }
                        }
                    }

                    &__wrapper-cards {
                        grid-template-columns: repeat(1, minmax(162px, 1fr));
                        grid-column-gap: 0;
                        grid-row-gap: 0;
                        padding: 0 20px 20px 20px;

                        .scroll-content {
                            grid-template-columns: repeat(3, minmax(100px, 1fr));
                            height: 100%;
                            padding-right: 0;
                        }

                        .scrollbar-track-y {
                            right: 10px;
                        }
                    }

                    &__btn-show-cards {
                        display: flex;
                    }
                }

                .product-card {
                    &__block-links,
                    &__wrapper-employee {
                        margin-top: 11px;
                    }

                    &__address {
                        margin-top: 0;
                    }

                    &__block-images {
                        height: 136px;
                    }
                }
            }
        }

        .card-slider,
        .estate-statistics {
            margin-top: 40px;
        }
    }

    .compare-bar {
        &__inner {
            grid-template-columns: 1fr;
            padding: 16px 0 20px 0;
        }

        &__block-head,
        &__block-btns {
            padding: 0 20px;
        }

        &__block-head {
            order: 1;
        }

        &__block-btns {
            order: 3;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10px;
            margin-top: 28px;

            .btn {
                width: 100%;
                height: 48px;
            }
        }

        &__block-content {
            order: 2;
            padding: 0 20px 36px 20px;
            margin-top: 16px;
        }

        &__slider {
            width: 90vw;
        }
    }

    .text-document {
        h4 {
            margin-top: 32px;
        }
    }

    .page-not-found-page {
        &__icon {
            width: 282px;
            height: 188px;
        }

        &__subtitle {
            margin-top: 3px;
        }

        .btn {
            margin-top: 27px;
            max-width: 335px;
            width: 100%;
            min-height: 48px;
        }

        .page {
            &__content {
                padding: 60px 0 118px 0;
            }
        }
    }

    .search-no-result-page {
        .card-section {
            .btn {
                margin-top: 24px;
                max-width: 335px;
                width: 100%;
                min-height: 48px;
            }
        }

        .card-slider {
            margin-top: 40px;
        }
    }

    .developers-page {
        .page {
            &__content {
                border-radius: 0;
            }
        }

        .search-bar {
            &__block-buttons,
            &__select-city,
            .select__inner,
            .select__btn {
                width: 100%;
            }
        }

        .select {

            &__btn {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .developer-card {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        padding: 20px;

        &__wrapper-description {
            grid-template-areas: 
            "logo data"
            "description description";
        }

        &__wrapper-name {
            flex-direction: column;
            align-items: flex-start;
        }

        &__block-rating {
            margin-left: 0;
        }

        &__wrapper-info {
            margin-top: 16px;
        }

        &__li-info {
            &:not(:first-child) {
                margin-top: 10px;
            }
    
            &:last-child {
                margin-top: 12px;
            }
        }

        .btn {
            margin-top: 20px;
        }
    }

    .privacy-policy-page,
    .terms-of-use-page,
    .search-no-result-page,
    .search-result-page,
    .developers-page {
        .page {
            &__content {
                padding: 24px 0 50px 0;
            }
        }
    }
}