@media screen and (max-width: 1200px) {
    .search-bar {
        .search {
            &__block-input {
                width: 450px;
            }
        }
    }

    .card-section {
        &--property {
            .card-section {
                &__wrapper-content {
                    grid-template-columns: minmax(162px, 1fr);
                    grid-column-gap: 0;
                    grid-row-gap: 40px;
                }

                &__block-nav {
                    margin-top: 24px;
                }
            }
        }

        &__wrapper-cards {
            grid-template-columns: repeat(3, minmax(162px, 1fr));
        }
    }

    .estate-statistics {
        .main-container {
            grid-template-columns: 1fr;
            grid-row-gap: 29px;
            padding: 56px 80px 56px 80px;

            &::before {
                width: auto;
                right: 20px;
            }
        }
    }

    .detailed-card-page {
        &__wrapper-info-main-container {
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 40px;
        }
    }

    .side-panel {
        width: 335px;
        margin: auto;
    }
}