@media screen and (max-width: 576px) {
    .card-slider {
        &__block-head {
            padding-left: 20px;
            padding-right: 20px;
        }

        .swiper-slide:first-child.swiper-slide-active {
            margin-left: 20px;
        }

        .max-width {
            padding: 0;
        }
    }

    .card-section {
        &--property {
            .card-section {
                &__wrapper-cards {
                    grid-template-columns: repeat(2, minmax(100px, 1fr));
                }
            }
        }
    }

    .side-panel {
        width: 100%;
    }

    .favorite-objects-page {
        .card-section {
            &__block-head {
                .select {
                    &__block-pop-up {
                        width: calc(100vw - 40px);
                    }
                }
            }
        }
    }

    .modal {

        &--size--md {
            .modal__window {
                max-width: none;
                width: calc(100% - 40px);
            }
        }
    }

    .more-filters {
        &__list-checkbox-default {
            grid-template-columns: repeat(2, 1fr);
        }

        &__list-checkbox-modified {
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
        }

        .scroll-content {
            width: 94%;
        }
    }
}