@media screen and (max-width: 1440px) {
    .estate-statistics {
        .main-container {
            grid-template-columns: 350px 1fr;
            grid-column-gap: 40px;
        }
    }

    .property-map-page {
        .card-section {
            &--property-map {
                .card-section {
                    &__wrapper-content {
                        grid-template-columns: 1fr 330px;
                        grid-column-gap: 28px;
                    }

                    &__wrapper-cards {
                        .scroll-content {
                            grid-template-columns: repeat(1, minmax(100px, 1fr));
                        }
                    }

                    &__inner-cards {
                        padding-right: 25px;
                    }

                    &__block-nav {
                        display: none;
                    }
                }
            }
        }
    }
}