@media screen and (max-width: 767px) {
    .estate-statistics {
        &__block-slider {
            flex-wrap: wrap;
            margin: -6px;
            justify-content: center;
        }

        &__block-slide {
            width: 100%;
            height: 220px;
        }

        &__slide-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .card-section {
        &--property {
            .card-section {
                &__block-nav {
                    justify-content: center;
                    
                    .select {
                        display: none;
                    }
                }
            }
        }
    }

    .big-slider {
        &__slider-first {
            .big-slider {
                &__block-info-icon {
                    width: 23px;
                    height: 23px;
                    border-radius: 5px 0px;
                }
    
                &__info-icon {
                    width: 12px;
                    height: 12px;
                }
    
                &__block-info-title {
                    padding: 8px;
                }
            }

            .swiper-wrapper {
                grid-template-rows: 80px;
                overflow: visible;
            }
        }

        &__slider-second {
            height: 213px;
        }

        .toggle-property {
            grid-template-columns: 1fr;
            height: 41px;
            width: 41px;
            top: 8px;
            left: 28px;
            background-color: $navy-blue;
    
            &::before {
                display: none;
            }

            &.active {
                .toggle-property {
                    &__icon {
                        &--map {
                            opacity: 0;
                            visibility: hidden;
                            pointer-events: none;
                        }
                        &--photo {
                            opacity: 1;
                            visibility: visible;
                            pointer-events: auto;
                        }
                    }
                }
            }

            &__icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 18px;
                height: 18px;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: opacity $transition-time $transition-time, visibility $transition-time $transition-time;

                &--map {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }

                &--photo {
                    width: 22px;
                    height: 22px;
                }

                use {
                    fill: $white;
                }
            }

            &__name-property {
                display: none;
            }
        }

        .arrow {
            width: 40px;
            height: 40px;

            &[data-big-slider=prev-btn] {
                left: 8px;
            }

            &[data-big-slider=next-btn] {
                right: 8px;
            }
        }
    }

    .swiper-pagination {
        left: 8px;
        right: 8px;
        bottom: 8px;
    }

    .property-map-page {
        .card-section {
            &--property-map {
                .card-section {
                    &__wrapper-content {
                        grid-template-rows: 500px;
                    }

                    &__block-map {
                        height: 500px;
                    }

                    &__wrapper-cards {
                        .scroll-content {
                            grid-template-columns: repeat(2, minmax(100px, 1fr));
                            grid-column-gap: 10px;
                            grid-row-gap: 10px;
                        }
                    }
                }
            }
        }
    }

    .objects {
        &__block-cards {
            display: flex;
            overflow-x: auto;
        }

        &__block-head,
        &__block-btn {
            padding: 0 20px;
        }

        &__block-btn {
            justify-content: stretch;
            margin: 20px auto 0 auto;

            .btn {
                width: 100%;
                min-height: 48px;
            }
        }

        .main-container {
            padding: 0;
        }

        .product-card {
            width: 162px;
            flex-shrink: 0;

            &:first-child {
                margin-left: 20px;
            }
        }
    }

    .customer-reviews {
        &__block-reviews {
            grid-row-gap: 16px;
        }
    }

    .favorite-objects-page {
        .card-section {
            &--property {
                .card-section {
                    &__wrapper-cards {
                        grid-template-columns: repeat(2, minmax(100px, 1fr));
                        grid-column-gap: 10px;
                        grid-row-gap: 10px;
                    }
                }
            }
        }
    }

    .review {
        padding-bottom: 16px;
        
        &__block-head {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            grid-row-gap: 6px;
            grid-column-gap: 8px;
        }

        &__block-date {
            margin-left: 0;
        }

        &__list-rating-stars {
            grid-template-columns: repeat(5, 16px);
            grid-column-gap: 4px;
        }

        &__icon {
            height: 16px;
        }

        &__block-text {
            margin-top: 6px;

            p {
                line-height: 1.5em;
            }
        }

        &__slider {
            margin-top: 12px;
        }
    }

    .layouts {
        &__list-properties {
            grid-template-columns: 1fr;
            grid-column-gap: 0;
            grid-row-gap: 14px;
        }

        &__list-properties {
            margin-top: 12px;
        }

        &__slider {
            margin-top: 16px;
        }

        &__block-image {
            padding: 10px 16px;
            height: 190px;
        }

        .slider-btns {
            display: none;
        }

        .select {
            &__btn {
                min-height: 41px;
                padding: 5px 16px;
            }
        }
    }
}