.header {
    flex: 0 0 auto;

    &__block-insight {
        padding: 12px 0;
        background-color: $white;

        .max-width {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__wrapper-contacts {}

    &__block-contact {}

    &__contact-text {
        font-weight: 500;
    }

    &__contact-link {
        margin-left: 12px;
        font-weight: 600;
        color: $navy-blue;
    }

    &__block-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__block-search {
        padding: 9px 0;
        background: $blue-gradient;

        .max-width {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

    &__burger-menu {
        position: relative;
        z-index: 1;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        padding: 6px 3px;
        background-color: transparent;
        border: none;

        & span {
            width: 100%;
            border: 1px solid $white;
            border-radius: 30px;
            transition: transform $transition-time, margin-top $transition-time, opacity $transition-time;

            &:not(:first-child) {
                margin-top: 5px;
            }
        }
    }

    .contact-info {
        display: none;
    }

    .specific-title {
        display: none;
    }

    .search {
        margin-left: 46px;
    }

    .social-buttons {
        display: none;
        margin-top: 30px;
    }
}