.detailed-card-page {

    &__wrapper-info {

    }

    &__wrapper-info-main-container {
        display: grid;
        grid-template-columns: minmax(100px, 1fr) 327px;
        grid-column-gap: 30px;
    }

    &__wrapper-info {
        margin-top: 40px;
    }

    &__pagination {
        margin-top: 80px;

        .main-container {
            display: flex;
            justify-content: center;
        }
    }

    &__card-slider {
        .card-slider {
            &__block-slider {
                z-index: 11;
            }
        }
    }

    .main-banner {
        height: 482px;
        padding-bottom: 50px;

        &__inner {
            margin-top: auto;
            margin-bottom: 60px;
        }

        .main-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    .basic-properties,
    .property-description,
    .property-details,
    .other-features,
    .infrastructure,
    .prices-apartments,
    .developer,
    .master-plan {
        .main-container {
            padding: 0;
        }
    }

    .banner {
        margin-top: 70px;
    }

    .property-description,
    .property-details,
    .other-features,
    .infrastructure,
    .prices-apartments,
    .developer,
    .card-slider,
    .master-plan {
        margin-top: 60px;
    }
}