@import '_vars';
@import '_mixins';

.main-container {
    margin-left: auto;
    margin-right: auto;
}

.max-width {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
}

.scroll-lock {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}

.hidden {
    display: none;
}

.title-reset {
    margin: 0;
}

.link-reset {
    text-decoration: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: $navy-blue;
}

// .swiper {
//     overflow: hidden;
// }

.swiper-wrapper {
    display: flex;
    height: 100%;
}

.swiper-slide {
    flex-shrink: 0;
}

.swiper-pagination {
    position: absolute;
    left: 64px;
    right: 64px;
    bottom: 20px;
    display: grid;
    grid-auto-columns: minmax(20px, 110px);
    grid-auto-flow: column;
    grid-column-gap: 5px;
    justify-content: center;
}

.swiper-pagination-bullet {
    display: block;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color $transition-time;
}

.swiper-pagination-bullet-active {
    background-color: $white;
}

.scrollbar-track,
.scrollbar-thumb {
    border-radius: 10px;
}

.scrollbar-track {
    background: #F5FAFF !important;
}

.scrollbar-track-y,
.scrollbar-thumb-y {
    width: 5px !important;
}

.scrollbar-track-x,
.scrollbar-thumb-x {
    height: 5px !important;
}

.scrollbar-thumb {
    background: $light-text !important;
}

.dev {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;

    &__box-title {
        width: 100%;
        margin-bottom: 20px;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
    }

    &__box {
        margin: 50px;
    }

    &__link {
        font-size: 20px;
        border-bottom: 1px solid;
        border-bottom-color: transparent;
        transition: border-bottom $transition-time;

        &:hover {
            border-bottom-color: $navy-blue;
        }
    }

    &.links {
        flex-direction: column;
        align-items: flex-start;

        .dev {
            &__box {
                margin: 15px 0;
            }
        }
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}